/*
David Whimple
ASDI 1305
Project 1
CSS Stylesheet
*/

div{
	text-align: center;

}
img{
	width: 260px;
}
.ui-bar-c, .ui-bar-c input, .ui-bar-c select, .ui-bar-c textarea, .ui-bar-c button{
background: #393939;
}
p{
	padding-left: 30px;
}
h3{
	color: #467dad;
	padding-bottom: 5px;
	padding-left: 40px;
}